* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-img {
  width: 160px;
}

/* ******** */

.searchbar-container {
  display: flex;
  background-color: red;
  margin: 0px auto;
  padding: 5px 20px;
  align-items: center;
}

.searchbar {
  width: 100%;
  margin-right: 20px;
}

.searchbar input {
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3px;
}

.searchbar input:focus {
  outline: 0;
}

.searchbar-btn button {
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  height: 34px;
  color: white;
}

/* ********** */

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 2%;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 2%;
}

/* ********** */

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #3d8d7a;
  border-radius: 10px;
  color: white;
  transition: 0.5s;
}

.pokemon-card:hover {
  transform: scale(1.1);
  border: 5px solid rgb(230,230,230);
}

.pokemon-image-container {
  padding: 0 5px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* *********** */

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantidade{
  margin: 0 10px;
}

/* ************ */

button.pokemon-heart-btn {
  border: none;
  background-color: #3d8d7a;
  padding: 4px;
  cursor: pointer;
  align-items: center;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

@media screen and (max-width:740px) {
  .pokedex-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3px;
  }
}

@media screen and (max-width:460px) {
  .pokedex-grid {
    display: inline-block;
    gap: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  .pokemon-card {
    margin-bottom: 10px;
  }
}